* {font-family: 'Lato', sans-serif; line-height: 1;}

/* Banner and Navigation */
header {width: 100%;}
div {width: 100%;}
.banner {position: relative; height: 20.5rem;width: 100%;display: flex;align-items: center;justify-content: center;cursor: default;}
.banner::before {content: "";background-image: url("./Pictures/Hockey\ Cover.jpg");background-size: cover;position: absolute;top: 0px;right: 0px;bottom: 0px;left: 0px;opacity: 0.5;}
h1 {position: relative;color: #000000;  font-size: 5rem;line-height: 0.9;text-align: center;}
nav ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;}
li a {display: block;color: white;text-align: center;padding: 0.9rem 1rem;text-decoration: none;}
.btn:hover {background-color: #111;}
.cs {color: black;text-decoration: none;}
.actbtn {background-color: aliceblue;color: black;font-weight: bolder;font-size: larger;border: solid 0.2rem black;border-radius: 1rem;cursor:grab;}
.cs:hover {cursor: default;}

/* Main Section Styles */
.main {display: flex;}
.skill {justify-content: flex-end;}
.bold {font-weight: bold;}
.mainbody {background-color: #d1d1d1;}
.ital {font-style: italic; font-size: 0.8rem;}
/* About Pictures */
.pic {height: 600px;}

/* Resume Styles */
div + p, .contacthead { position: relative; text-align: right; margin: 0; margin-top: 30px; margin-right: 20px; margin-bottom: 35px; font-family: 'Dancing Script', cursive; font-size: 20px;}
h3, h4 { color:dodgerblue; margin-top: 100px; margin-bottom: 40px; line-height: 0;}
h2 {color:rgba(58, 58, 58, 0.3);}
.job {color:black;}
h6 { color: gray;  margin: 0; line-height: 0; margin-bottom: 20px;}

.column1 {
    float: left;
    width: 50%;
  }

  .column2 {
    float: right;
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  @media only screen and (max-width: 480px) {
    .column1 {width: 100%;}
    .column2 {width: 100%;}
    h1 {font-size: 4rem;}
  }