.bold {
    font-weight: bold;
}
* {
    font-family: 'Lato', sans-serif;
    line-height: 1;
}

header > h1 {
    font-size: 60px;
    position: relative;
    left: 100px;
}

header > p {
    position: relative;
    left: 120px;
    color: gray;
}

.skills > h4 {
    position: absolute;
    top: 130px;
    right: 210px;
    font-size: 30px;
}

#skilllist {
    position: relative;
    float: right;
    margin-top: 130px
}

#nav {
    position: absolute;
    top: 20px;
    right: 30px;
    margin-top: 0px
}

div p, .contacthead, {
    position: relative;
    text-align: right;
    margin: 0;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 35px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.contacthead {
    font-size: 30px;
}
.contact p {
    line-height: 0.3;
}

header h1, header p, body {
    margin: 20px;
}

div.contact {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 300px;
    height: 100px;
    text-align: right;
}

h3, h4 {
    color:dodgerblue;
    margin-top: 100px;
    margin-bottom: 40px;
    line-height: 0;
}

h2 {
    color:rgb(58, 58, 58);
}

.contacthead, .job {
    color:black;

}

h6 {
    color: gray;
    margin: 0;
    line-height: 0;
    margin-bottom: 20px;
}

.desc {
    width: 600px;
}

.jobs > .desc2 {
    width: 700px;
    margin: 0;
}

.body {
    display: inline-block;
}

.jobs > p {
    line-height: 1.1;
}